<h1>Notes</h1>

<table>
    <thead> 
        <th>Task</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {{#each tasks}}
            <tr>
                <td>{{title}}</td>
                <td><a href="/complete/{{id}}">Complete</a></td>
                <td><a href="/edit/{{id}}">Edit</a></td>
                <td><a href="/delete/{{id}}">Delete</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="mess">{{add}}</div>
<div class="mess">{{edit}}</div>
<div class="mess">{{delete}}</div>

<h3><a href="/add">Add Task</a></h3>